.user_info {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: auto;
}

.info-client h1{
  font-family: 'Merriweather Sans', sans-serif;
  color: #2C3E50;
}

.info-client h6{
  font-family: 'Merriweather Sans', sans-serif;
  color: #2C3E50;
}


.flex-show-booking{
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-right: 30px;
  padding-left: 30px;
}
.bookings-history {
  text-align: center;
  grid-gap: 30px;
  padding-left: 72px;
  padding-right: 30px;
}

.card-bookings{
  margin-bottom: 30px;
}
.card-bookings-show{
  margin-bottom: 30px;
}
.img-client{
  border-radius: 10px;
  width: 300px;
}

.details-client {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 90px;
  text-align: center;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
  font-family: 'Merriweather Sans', sans-serif;
  color: #4e6e8f;
}

.details-top{
  padding-top: 66px;
  padding-left: 78px;
  padding-bottom: 10px;
}
.details-top h4{
  font-family: 'Merriweather Sans', sans-serif;
  color: #2C3E50;
}


.payé1 {
  text-align: center;
  color: #ffffff;
  /* border: green 1px solid; */
  background-color: green;
  border-radius: 10px;
  width: 102px;
  margin: auto;
  padding: 5px 10px 5px 10px;
}

.impayé1{
  text-align: center;
  color: white;
  // border: rgb(157, 0, 0) 1px solid;
  background-color: rgb(197, 2, 2);
  border-radius: 10px;
  width: 102px;
  margin: auto;
  padding: 5px 10px 5px 10px;
}

.item-timeslot-details-show {
  display: flex;
  flex-grow: 16;
  justify-content: flex-end;
  margin: auto;
  margin-right: 20px;
}

.item-timeslot-details-show h5{
  padding-right: 30px;
  margin: auto;
}

.name-sport{
  margin:auto;
}
.name-sport h5{
  margin:0;
}

.date-sport{
  margin:auto;
}

.date-sport h6{
  margin:0;
}

.paiement-card-total{
  padding: 20px;
  margin-bottom: 10%;
  border-radius: 5px;
  height: 45%;
  text-align: center;
  border: rgb(0, 128, 0) 1px solid;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
}

.paiement-card-total h6{
  color: rgb(0, 128, 0);
  font-weight: 800;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
}
.paiement-card-total h4{
  color: rgb(0, 128, 0);
  font-weight: 800;
  font-size: 40px;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
}

.paiement-card-impayés{
  padding: 20px;
  margin-bottom: 10%;
  height: 45%;
  border-radius: 5px;
  border: #FFB20F 1px solid;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.paiement-card-impayés h6{
  color: #FFB20F;
  font-weight: 800;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
}
.paiement-card-impayés h4{
  color: #FFB20F;
  font-weight: 800;
  font-size: 40px;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
}
.stat-paiements{
  height: 100%;
}

.titre-general h1 {
  margin: auto;
  margin-bottom: 35px;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  color: #2C3E50;
}

.fa-envelope {
  color: #2C3E50;
  margin-right: 9px;
}

.fa-phone {
  color: #2C3E50;
  margin-right: 9px;
}

.birth-date {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
}

.birth-date h6 {
  color: #FFB20F;
  font-size: larger;
}

.fa-birthday-cake {
  color: #FFB20F;
  margin-right: 9px;
  font-size: larger;
}

.details-info-client {
  display: flex;
  flex-direction: column;
  margin-left: 27px;
  margin-top: 11px;
  align-items: flex-start;
}
