.user_info{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 4px 5px 61px rgba(0, 0, 0, 0.2);
    width: 60%;
    margin: auto;
  font-family: 'Merriweather Sans', sans-serif;
  color: #2C3E50;
}

.bookings-history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    text-align: center;
    grid-gap: 30px;
    padding: 20px;
}

.img-client{
      border-radius: 50%;
      width: 300px;
}

.details-client{
      text-align: center;
      background-color: #2C3E50;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 4px 5px 61px rgba(0, 0, 0, 0.2);
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
}

.details-top{
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    color: #2C3E50;
    padding-top: 30px;
}


.payé1 {
    text-align: center;
    color: #ffffff;
    /* border: green 1px solid; */
    background-color: green;
    border-radius: 10px;
    width: 102px;
    margin: auto;
    padding: 5px 10px 5px 10px;
}

.impayé1{
  text-align: center;
  color: white;
  // border: rgb(157, 0, 0) 1px solid;
  background-color: rgb(197, 2, 2);
  border-radius: 10px;
  width: 102px;
  margin: auto;
  padding: 5px 10px 5px 10px;
}
