.user_info {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
  box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.16);
  width: 90%;
}

.info-client h1 {
    font-family: 'Merriweather Sans', sans-serif;
    color: #2C3E50;
    margin-top: 30px;
    margin-bottom: 30px;
}

.info-client h6{
  font-family: 'Merriweather Sans', sans-serif;
  color: #2C3E50;
}


.flex-show-booking{
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-right: 72px;
  padding-left: 72px;
}
.bookings-history {
  text-align: center;
  grid-gap: 30px;
  padding-left: 72px;
  padding-right: 72px;
}

.card-bookings{
  margin-bottom: 30px;
}
.card-bookings-show{
  margin-bottom: 30px;
}
.img-client{
  border-radius: 5px;
  width: 300px;
}

.details-client {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 90px;
  text-align: center;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.16);
  font-family: 'Merriweather Sans', sans-serif;
  color: #4e6e8f;
}

.details-top{
  padding-top: 66px;
  padding-left: 78px;
  padding-bottom: 10px;
}
.details-top h4{
  font-family: 'Merriweather Sans', sans-serif;
  color: #2C3E50;
}



.item-timeslot-details-show {
  display: flex;
  flex-grow: 16;
  justify-content: flex-end;
  margin: auto;
  margin-right: 20px;
}

.item-timeslot-details-show h5{
  padding-right: 30px;
  margin: auto;
}

.name-sport{
  margin:auto;
}
.name-sport h5{
  margin:0;
  font-weight: 500;
  font-family: 'Merriweather Sans', sans-serif;
}

.date-sport{
  margin:auto;
}

.date-sport h6{
  margin:0;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: 'Merriweather Sans', sans-serif;
}
h5 {
font-weight: 500;
margin: auto;
font-family: 'Merriweather Sans', sans-serif;
}

.stat-paiements{
  height: 100%;
  padding-top: 16px;
}

.titre-general h1 {
  margin: auto;
  margin-bottom: 35px;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  color: #2C3E50;
}

.fa-envelope {
  color: #2C3E50;
  margin-right: 9px;
}

.fa-phone {
  color: #2C3E50;
  margin-right: 9px;
}

.birth-date {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: center;
}

.birth-date h6 {
  color: #FFB20F;
  font-size: larger;
}

.fa-birthday-cake {
  color: #FFB20F;
  margin-right: 9px;
  font-size: larger;
}

.details-info-client {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    align-items: center;
    align-content: stretch;
    a{
      color: #2c3e4f;
      font-size: 18px;
    }
}

.paiement-card-total-show{
  padding: 20px;
  margin-bottom: 6%;
  border-radius: 5px;
  height: 45%;
  text-align: center;
  border: rgb(0, 128, 0) 2px solid;
}

.paiement-card-total-show h6{
  color: rgb(0, 128, 0);
  font-weight: 800;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
}
.paiement-card-total-show h4{
  color: rgb(0, 128, 0);
  font-weight: 800;
  font-size: 53px;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  margin-top: 25px;
}


.paiement-card-impayés-show{
  padding: 20px;
  margin-bottom: 10%;
  height: 45%;
  border-radius: 5px;
  border: #FFB20F 2px solid;
  text-align: center;
}

.paiement-card-impayés-show h6{
  color: #FFB20F;
  font-weight: 800;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
}
.paiement-card-impayés-show h4{
  color: #FFB20F;
  font-weight: 800;
  font-size: 53px;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  margin-top: 25px;
}
