.second-container{
  display: flex;
}
#external-events {
  padding: 14px 10px;
  border-radius: 10px;
  margin-top: 64px;
}

#external-events .fc-event {
  cursor: move;
  margin: 15px 0;
  color: black;
  padding: 2px;
  width: 200px;
  white-space: normal;
}

.fc-event-main h5{
margin-bottom: 20px;
font-size: 14px;
}

#external-events p {
  color: #2C3E50;
  padding: 2px;
  font-size: large;
  text-align: center;
  font-size: 20px;
}

.agenda {
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
  width: 100%;
}

.fc-event-time{
  padding: 1%;
  font-size: 20px;
}

.fc .fc-timegrid-axis-frame {
    overflow: hidden;
    font-size: 84%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#coach_calendar {
  padding-bottom: 1%;
}

.fc-toolbar-title {
    font-size: 2.50em;
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
}

#external-events img{
  width: 30px;
  height: 30px;
}
