// Specific CSS for your home-page
.card-features {
    width: 70%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.card-features h4{
    font-family: 'Merriweather Sans', sans-serif;
    padding-bottom: 20px;
    color: #2C3E50;
}
.fa-check-circle:before {
    content: "\f058";
    color: #7ea06a;
    font-size: 2em;
    margin: auto;
}

.fa-times-circle:before {
    content: "\f057";
    color: red;
    font-size: 2em;
    margin: auto;
}

.card-slot {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-family: 'Merriweather Sans', sans-serif;
}

.card-slot-ended {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  border-radius: 10px;
  background-color: rgba(196, 189, 189, 0.494);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-family: 'Merriweather Sans', sans-serif;
}

.card-slot:hover {
  background-color: #2C3E50;
  color: white;
}
.card-slot:hover p{
  background-color: #2C3E50;
  color: white;
}


.card-slot-top {
  display: flex;
  padding: 10px;
  margin: 10px;
  justify-content: space-between;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #FFB20F;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.card-slot-top h6{
  font-weight: bolder;
  width: 150px;
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

.card-slot h6 {
  color: #cacbd6;
}

.item-timeslot p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 150px;
  font-family: 'Merriweather Sans', sans-serif;
  color: #2C3E50;
}

.item-timeslot-p p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Merriweather Sans', sans-serif;
}

.item-timeslot-details{
  margin: auto;
  margin-right: 3px;
}

.item-timeslot-details p {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  font-family: 'Merriweather Sans', sans-serif;
}
.width{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 250px;
  font-family: 'Merriweather Sans', sans-serif;
}
.width p{
  margin:0;
  width: 250px;
  font-family: 'Merriweather Sans', sans-serif;
  color: #2C3E50;
}

.card-slot-top .width{
  margin: 0;
}


.card-slot i {
  color: #2C3E50;
}

.card-slot:hover i {
  color: white;
}



.titre h1{
  margin: auto;
  margin-left: 35px;
  font-family: 'Merriweather Sans', sans-serif;
  margin-bottom: 3%;
  color: #2C3E50;
}

.titre{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 100%;
  margin: auto;
  margin-right: 4%;

}

.card-slot-details {
  display: flex;
  padding: 10px;
  margin: 10px;
  justify-content: space-between;
  box-shadow:2px 1px 10px rgba(0, 0, 0, 0.12) ;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #4e6e8f;
  border-radius: 5px;
}

.card-slot-details a {
color: white;
}


.card-slot-top-details h6 {
  font-weight: bolder;
  width: 180px;
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

.card-body-client {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-decoration: none;
  margin: 10px;

}

.payé{
  text-align: center;
  color: #ffffff;
    /* border: green 1px solid; */
  background-color: green;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

.impayé{
  text-align: center;
  color: white;
  // border: rgb(157, 0, 0) 1px solid;
  background-color: rgb(197, 2, 2);
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

a:hover{
  text-decoration: none;
  color: black;
}

.btn-primary{
  background-color: #FFB20F;
  color: white;
  border-radius: 5px;
  border: none;
}

.flex{
  display: flex;

}

// CLOCK //


.box {
    background: #2C3E50;
    border-radius: 5px;
    display: inline-block;
    margin: 2em 1em 1em;
    padding: 0px 38px 5px;
    height: 180px;
}

.date {
  color:white;
  font-size:2em;
  text-align: center;
  margin-top: 10px;
}

.date #2C3E50 {
  color:white;
  font-size:1em;
}



.clock {
  background-color:#FFB20F;
  border: 0.6em solid white;
  border-radius: 100%;
  height: 8em;
  margin: auto;
  margin-top: -4em;
  position: relative;
  width: 8em;
}
.clock span {
  background: white;
  bottom: 50%;
  display: block;
  left: 50%;
  position: absolute;
  transform-origin: bottom center;
}
.clock .hours {
  height: 30%;
  width: 0.2em;
}
.clock .minutes {
  height: 45%;
  width: 0.2em;
}

.clock .seconds {
  height: 48%;
  width: 0.1em;
}


.img_home {
  width: 40px;
  border-radius: 50%;
  margin-right: 17px;
  border: #ffffff 1px solid;
}

.align-paiement {
    display: flex;
    margin-top: 89px;
    grid-gap: 10px;
    height: 300px
}

.unpaid{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  a{
    box-shadow:2px 1px 10px rgba(0, 0, 0, 0.12) ;
    padding: 10px;
    text-decoration: none;
    color: #2C3E50;
    background-color: white;
    border-radius: 5px;
    &:hover{
      background-color: #4e6e8f;
      color: white;
    }
  }

}

.paiement-card-impayés-home{
  padding: 20px;
  margin-bottom: 10%;
  height: 45%;
  border-radius: 5px;
  border: #FFB20F 1px solid;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.paiement-card-impayés-home:hover{
  background-color: #FFB20F;
 h6{
   color: white;
 }
 h4{
   color: white;
 }
}

.paiement-card-impayés-home h6{
  color: #FFB20F;
  font-weight: 800;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
}
.paiement-card-impayés-home h4{
  color: #FFB20F;
  font-weight: 800;
  font-size: 40px;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
}
