.card-sport {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 2px;
    margin: 50px;

}

.btn .btn-danger{
  color: red;
}

.card-body{
  height: 170px;
  display: flex;
  flex-direction: column;
}


.card {
  border: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
