// Import page-specific CSS files here.
@import "home";


.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 10px;
  max-width: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 2px;
}

.card button{
position: relative;

}

.card-body{
  height: 170px;
  display: flex;
  flex-direction: column;
}

.card-title{
  background-color: #00AFB9;
color: white;
text-align: center;
padding:5px;
margin: 0;
}

.card {
  border: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.container{
  width: 800px;
}
