<div class="paiement-card-impayes-home">
  <div  data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> </a>
    <h6>Solde des paiements à recevoir</h6>
    <h4> <%= @unpaid_ca.round(0) %>€</h4>
  </div>
  <div class="collapse unpaid" id="collapseExample">
    <% @unpaid_client.uniq.each do |c| %>
      <%= link_to client_profile_path(c), class: 'd-flex justify-content-between' do %>
        <span>
          <%= "#{c.first_name} #{c.last_name}"%>
        </span>
        <span>
          <%= c.client_bookings.where(payment_received: false).select {|b| b.time_slot.sport_class.coach_id == current_user.id}.map(&:time_slot).sum(&:price).round(0) %>€
        </span>
      <% end %>
    <% end %>
  </div>
</div>
