<hr>

<h2>Calendrier coach</h2>


<div id="coach_calendar" style="width: 800px; height: 200px" data-calendar-id="22" data-events=<%= @yoga_events.to_json%>>
</div>

<h2>Calendrier client</h2>

<div id="client_calendar" style="width: 800px; height: 200px" data-calendar-id="22" data-events=<%= @yoga_events.to_json%>>
</div>

<hr>
