
<head>
  <div  id="viewport">
  <br>
  <h1>Bienvenue <%=current_user.email %>!</h1>
  </div>
</head>
<br>

<body>
<div class="container features">
    <div class="card">
    <span class="card-header-title m-0">Voici votre planning de la journée</span>
        <%# <div id="coach_calendar" style="width: 800px; height: 200px" data-calendar-id="22" data-events=<%= @yoga_events.to_json%>
    </div>
  </div>


  <div class="container Stats&clients">
    Stats & clients
    <%# <p>Vous avez <%=@users.count_client%>
    <div class="d-inline-flex p-2 bd-highlight">
      Stats
      <div class="card">
      </div>
    </div>
    <div class="d-inline-flex p-2 bd-highlight">
      <div class="card clients">
      <ul class="list-group">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
      </div>
    </div>
  </div>

</div>
</body>
