// CARD //
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    box-shadow:2px 4px 17px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 100%;
}

.card:hover{
  background-color: #342e3717;
}


.card button{
  position: relative;
}


.card h6 {
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}


.card-body{
  height: 250px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding-bottom: 60px;
}
.fa-user-friends:before {
  content: "\f500";
  padding-left: 10px;
}

.card-title{
  color: #2C3E50;
  text-align: center;
  padding:5px;
  margin: 0;
  font-size: 20px;
}

.card a{
  text-decoration: none;
  color: #2C3E50;
}

a{
  text-decoration: none;
}

.card a h6{
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.details{
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
  border-radius: 0px 0px 5px 5px;
  margin-top: 20px;
  background-color: #FFB20F;
}

.details1{
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
  border-radius: 0px 0px 5px 5px;
  margin-top: 20px;
}



.card-description{
  font-size: 15px;
  font-weight: 300;
}

.fa-trash{
  content: "\f1f8";
  color:#2C3E50;
}

.fa-user-friends{
  color:#2C3E50;
}
.fa-trash:hover{
  content: "\f1f8";
  color:#FFB20F;
}


.fa-pen {
  content: "\f304";
  color:#2C3E50;
}

.fa-pen:hover {
  content: "\f304";
  color:#FFB20F;
}

.card-center{
  border-left: solid white;
  border-right: solid white;
  width: 100px;;
}


// CARD-SHOW//


.card-center-show{
  border-left: solid white;
  border-right: solid white;
  width: 300px;
}

.card-center-show2{
  border-right: solid white;
  width: 300px;
  background-color: #006992;
}

.details-show p{
  color: white;
  margin: auto;
}

.card-show a{
  text-decoration: none;
  color: #2C3E50;
}
.card-show h6 {
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.details-show{
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  background-color: #FFB20F;
  vertical-align: middle;
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
  border-radius: 0px 0px 5px 5px;
}

.card-description-show{
  font-size: 21px;
  font-weight: 300;
  padding: 20px;
}

strong{
  font-weight: bold;
}

#durée {
  background-color: #006992;;
}
