.navbar-lewagon {
  justify-content: space-between;
  background: rgb(228, 228, 228);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}



.navbar-light .navbar-nav .nav-link {
    color: #457B9D;
}

.navbar-nav{
  text-align: right;
}

.navbar-light .navbar-nav .nav-link {
    color: #457B9D;
    font-size: 22px;
}

.navbar{
 max-width: 100%;
 min-width: 100%;
 margin-bottom: 50px;
}

.nav-item h4{
  font-family: 'Merriweather Sans', sans-serif;
  margin-top: 5px;
  color: #457B9D;
  font-size: 22px;
}
