.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
}



.navbar-light .navbar-nav .nav-link {
    color: #457B9D;
}

.navbar-nav{
  text-align: right;
}

.navbar-light .navbar-nav .nav-link {
  width: 100%;
  margin-bottom: 20px;
  background-color: #457b9d;
  text-align: center;
  color: white;
  font-weight: 700;
  border-radius: 4px;
  height: 40px;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.672);
}

.navbar{
 max-width: 100%;
 min-width: 100%;
 margin-bottom: 50px;
}

.nav-item h4 {
  font-family: 'Merriweather Sans', sans-serif;
  color: #457b9d;
    margin: auto;
    padding-right: 50px;
    font-size: 20px;

}
