// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&display=swap');


// Your CSS partials
@import "components/index";
@import "components/form";
@import "components/card";
@import "components/footer";
@import "pages/sport_classes_index";
@import "pages/sport_classes_new";
@import "pages/sport_classes_show";
@import "pages/draganddrop";
@import "pages/client_index";
@import "pages/client_show";
// @import "pages/client_show";

body {
  overflow-x: scroll;
  font-size: 16px;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  background-color: white;
}

// /* Toggle Styles */

.main-container {
  flex-grow: 1;
}

.container{
  margin:0;
  margin-right:10px;
      max-width: 100%;
    min-width: 100%;

}

// #container {
//   padding-left: 14px;
//   -webkit-transition: all 0.5s ease;
//   -moz-transition: all 0.5s ease;
//   -o-transition: all 0.5s ease;
//   transition: all 0.5s ease;
//   padding-right: 14px;
// }

#sidebar h1 {
color: white;
font-weight: 700;
font-family: 'Merriweather Sans', sans-serif;
margin-left: 25px;
padding-bottom: 60px;
padding-top:7px;
}


#sidebar {
  width:230px;
  flex-shrink: 0;
  height: 100vh;
  overflow: auto;
  background: #2C3E50;
  position: sticky;
  top: 0;
}

#sidebar header {
  background-color: #2C3E50;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}


#sidebar .nsidebar a{
  background: none;
  color: white;
  font-size: 14px;
  padding: 22px 4px;
  display: flex;
  flex-direction: row;
  font-size: 18px;
}



#sidebar .nsidebar a:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .nsidebar a i{
  margin-right: 16px;
}

.nsidebar {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: column;
}

#text {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 900;
}

li{
  display: flex;
  align-items: center
}

.fa-home:before {
    content: "\f015";
    padding-right: 0;
    padding-left: 30px;
}

.fa-calendar-week:before{
    padding-right: 0;
    padding-left: 30px;
}

.fa-users:before{
    padding-right: 0;
    padding-left: 30px;
}

.fa-dumbbell:before{
    padding-right: 0;
    padding-left: 30px;
}
